.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
    

}

.dialogsItems {
    padding: 10px;
}

 a.active{
    color: black;
}

 a{
    text-decoration: none;
    color: #898888;
}

.messages{
    padding: 10px;
    color: #898888;

}

/* .message{
    
} */